.App {
  margin-top: 20px;
  margin: auto;
}

.App .navbar-brand {
  font-size: 25px;
  text-align: left
}

/* .App .navbar-collapse {
  margin-right: 30px;
  margin-top: 28px;
  font-size: 25px;

} */

.App .navbar-collapse {
  margin-left: 250px;
}